{% extends "layout.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}

{% if form.errors %}
<article>
    {% for key, value in form.errors.items %}
    {{ value }}
    {% endfor %}
</article>
{% endif %}

<hgroup>
    <h1>Sign in</h1>
    {% if next %}
    <p>
        You must sign in to access this page.
    </p>
    {% endif %}
    <p>
        Don't have an account?
        <a href="{% url "django_registration_register" %}">
            Create one here.
        </a>
    </p>
</hgroup>
<form method="post">
    {% csrf_token %}
    <div>
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div>
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>

    <input type="submit" value="Sign in">
    <input type="hidden" name="next" value="{{ next }}">
</form>
<a href="{% url "password_reset" %}">Forgot your password?</a>
{% endblock %}