{% extends "layout.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}

{% if form.errors %}
<article>
    {% for key, value in form.errors.items %}
    {{ value }}
    {% endfor %}
</article>
{% endif %}

<hgroup>
    <h1>Please check your email</h1>
    <p>
        If you have an account, we sent you an email. Please open the message
        and click on the link to reset your password.
    </p>
    <p>
        If the email isn't there, check your spam folder and make sure that you
        typed your email address correctly.
    </p>
</hgroup>
{% endblock %}