{% extends "layout.html" %}

{% block title %}Your dashboard{% endblock %}

{% block content %}
<hgroup>
    <h1>Your dashboard</h1>
    <p>Choose an option to navigate to the relevant resource.</p>
</hgroup>
<ul>
    <li>
        <a href="{% url "view_page" request.user.username %}">View your page</a>
        <p>View or share your profile page as it appears publicly.</p>
    </li>
    <li>
        <a href="{% url "edit_page" %}">Edit your page</a>
        <p>Change the text, links and images on your profile page.</p>
    </li>
</ul>
{% endblock %}