{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %} | OnePage</title>
</head>
<body>
    <main class="container">
        <nav>
            <ul>
                <li>
                    <a href="#" class="secondary">
                        <strong>OnePage</strong>
                    </a>
                </li>
            </ul>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <details class="dropdown">
                        <summary role="button">
                            @{{user.username}}
                        </summary>
                        <ul dir="rtl">
                            <li>
                                <a href="{% url "view_page" user.username %}">View your page</a>
                            </li>
                            <li>
                                <a href="{% url "edit_page" %}">Edit your page</a>
                            </li>
                        </ul>
                    </details>
                </li>
                {% else %}
                <li><a href="{% url "login" %}">Sign in</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </main>
</body>
</html>