{% extends "layout.html" %}

{% block title %}Edit page{% endblock %}

{% block content %}
<h1>Edit page</h1>
<form hx-post="{% url "edit_page" %}">
    {{ form }}
    <input type="submit" value="Save">
</form>

<section>
    <h2>Links</h2>
    <div id="links-list">
        {% for link in form.instance.pagelink_set.all %}
        
        {% include "pages/page_link_edit_view.html" %}
        {% endfor %}
    </div>
    
    <h3>Add a link</h3>
    <form
        hx-post="{% url "create_link" %}"
        hx-target="#links-list"
        hx-swap="beforeend"
    >
        {{ link_form }}
        <input type="submit" value="Create">
    </form>
</section>


{% endblock %}