{% extends "layout.html" %}
{% load static %}

{% block title %}{{ page_data.user.username }}'s page{% endblock %}

{% block meta %}
<meta name="description" content="{{ page_data.description }}">
<script
    src="{% static "pages/js/view_page.js" %}"
    data-page="{{ request.build_absolute_uri }}"
    defer
>
</script>
{% endblock %}

{% block content %}
<article>
    <header>
        <h1>{{ page_data.user.username }}</h1>
        <p>{{ page_data.description }}</p>
    </header>
    <h2>Links</h2>
    <ul>
        {% for link in page_data.pagelink_set.all %}
        <li>
            <a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
        </li>
        {% endfor %}
    </ul>
    <footer>
        <button id="share">
            Share
        </button>
        <button class="secondary" id="copy-link">
            Copy link
        </button>
    </footer>
</article>


{% endblock %}